@import "./default.css";

.headline {
  font-size: 1.5rem;
  margin-block: 1rem;
}
.form-control {
  width: 100%;
  display: block;
  padding: .7rem;
  border-radius: var(--border-radius);
  border: 1px solid #d3d3d3;
  outline: none;
  color: #333;
  margin-bottom: 1rem;
}

.login-card {
  max-width: 500px;
}